@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #0f172a; /* slate-900 */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
